.alert-messages {
	background: red;
    word-wrap: break-word;
    color: white;
    font-size: 12pt;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.simple-container {
	padding-top: 1em;
	padding-bottom: 1em;
}