<!DOCTYPE html>{%load static%}
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% block page_description %}{% endblock %}">
<title>{% block page_title %}SIGPAE Históricos{% endblock %}</title>
{% block page_meta_extra %}{% endblock %}
<link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
{% block page_style_extra %}{% endblock %}
</head>

<body>
<header class="two-col">
    {% block header %}
    <section class="site-title"><h1>SIGPAE Históricos | <small>USB</small></h1></section>
    <section class="site-logo">Universidad Simón Bolívar</section>
    {% endblock %}
</header>
<nav class="main-nav">{% block navbar %}{% endblock %}</nav>
{% block content %}
{% endblock %}
<footer>
    <span>&copy; {% now 'Y' %} - Zenpy.</span>
</footer>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>