{% extends './base.html' %}
{%load static%}

{% block content %}
<main class="two-col">
    {% block wintab %}
    <section class="wintab">
        <div class="tab upload-tab">
            <a href="#" class="tab-link is-active">Subir PDF</a>
            <div class="tab-content">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ pdf_form }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
        <div class="tab pdf-viewer">
            <a href="#" class="tab-link blocked">Ver PDF</a>
            <div class="tab-content">
            {% block verpdf %}{% endblock %}
            </div>
        </div>
        <div class="tab pdf-viewer">
            <a href="#" class="tab-link blocked">Extracción</a>
            <div class="tab-content">
            {% block extraccion %}{% endblock %}
            </div>
        </div>
        <div class="tab pdf-viewer">
            <a href="#" class="tab-link blocked">Posible info.</a>
            <div class="tab-content">
            {% block posibleinfo %}{% endblock %}
            </div>
        </div>
    </section>
    {% endblock wintab %}
    <section class="infotab">
    {% block infotab%}
    <h2>Información</h2>
    <p>Por favor sube un PDF de programa analítico de estudio de la USB para empezar.</p>
    {% endblock %}
    </section>
</main>
{% endblock content %}

{% block scripts %}
    {{block.super}}
    <script src="{% static 'js/refills-tab.js' %}"></script>
{% endblock %}