{% extends './base.html' %}
{%load static%}

{% block content %}
<main class="two-col">
    {% block wintab %}
    <section class="wintab">
        {% block upload %}<div class="tab upload-tab">
            <a href="#" class="tab-link is-active">Subir PDF</a>
            <div class="tab-content is-open">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>{% endblock %}
        {% block verpdf %}<div class="tab pdf-viewer">
            <a href="#" class="tab-link is-blocked">Ver PDF</a>
            <div class="tab-content">
            </div>
        </div>{% endblock %}
        {% block texto %}<div class="tab pdf-viewer">
            <a href="#" class="tab-link is-blocked">Texto</a>
            <div class="tab-content">
            </div>
        </div>{% endblock %}
        {% block posibleinfo %}<div class="tab pdf-viewer">
            <a href="#" class="tab-link is-blocked">Posible Info</a>
            <div class="tab-content">
            </div>
        </div>{% endblock %}
    </section>
    {% endblock wintab %}
    <section class="infotab">
    {% block infotab%}
    <h2>Información</h2>
    <p>Por favor sube un PDF de programa analítico de estudio de la USB para empezar.</p>
    {% endblock %}
    </section>
</main>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}

{% block scripts %}{{block.super}}<script src="{% static 'js/refills-tab.js' %}"></script>{% endblock %}
