{% extends './base.html' %}
{%load static%}

{% block page_style_extra %}
<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}"></link>
{% endblock %}

{% block content %}
{% if messages %}
  {% for message in messages %}
  <div {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} class="alert-messages" {% else %} class="success-messages" {% endif %} >
    <ul>
      <li {% if message.tags %} id="{{ message.tags }}" {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}class="alert-messages" {% else %} class="success-messages" {% endif %}{% endif %} >
        <span>{{ message }}</span>
      </li>
    </ul>
  </div>
    {% endfor %}
{% endif %}
<main class="two-col">
    {% block wintab %}
    <section class="wintab">
      {% block verpdf %}<div class="tab pdf-viewer">
          <a href="#" class="tab-link is-active">Ver PDF</a>
          <div class="tab-content is-open">
          <object width="400" height="400" type="application/pdf" data="{{pdf_url}}"></object>
          </div>
      </div>{% endblock %}
      {% block texto %}<div class="tab pdf-viewer">
          <a href="#" class="tab-link">Ver Texto Extraído</a>
          <div class="tab-content">
              <textarea rows="4" cols="50" >{{pdf_texto}}</textarea>
          </div>
      </div>{% endblock %}
    </section>
    {% endblock wintab %}
    <section class="infotab">
      {% block infotab%}
      <div style="align: center; background: whitesmoke;">
        <hr><h2 style="text-align: center;">Campos Obligatorios</h2><hr>
      </div>
      <form id="edit" action="{% block whodoireportto %}{% endblock %}" method="post">

        <input type="hidden" name="pdf_url" value="{{pdf_url}}"><input type="hidden" name="pdf_texto" value="{{pdf_texto}}">
        {% csrf_token %}
        <div class="field" id="field-{{ form.codigo.id_for_label }}">
          <label for="{{ form.codigo.id_for_label }}">{{ form.codigo.label }}*</label>
          <input data-validation="required" id="{{ form.codigo.id_for_label }}" maxlength="7" name="{{ form.codigo.html_name }}" placeholder="{{ form.codigo.help_text|safe }}" type="text" value="{{ form.codigo.value }}" required />
          {% if form.codigo.errors %}{{ form.codigo.errors }}
{% endif %}
        </div>
        <div class="field" id="field-{{ form.denominacion.id_for_label }}">
          <label for="{{ form.denominacion.id_for_label }}">{{ form.denominacion.label }}</label>
          {{ form.denominacion }}
          {% if form.denominacion.errors %}{{ form.denominacion.errors }}
{% endif %}
        </div>
        <div class="field" id="field-{{ form.fecha_periodo.id_for_label }}">
          <label for="{{ form.fecha_periodo.id_for_label }}">{{ form.fecha_periodo.label }}*</label>
          {{ form.fecha_periodo }}
          {% if form.fecha_periodo.errors %}{{ form.fecha_periodo.errors }}
{% endif %}
        </div>
        <div class="field" id="field-{{ form.fecha_año.id_for_label }}">
          <label for="{{ form.fecha_año.id_for_label }}">{{ form.fecha_año.label }}*</label>
          {{ form.fecha_año }}
          {% if form.fecha_año.errors %}{{ form.fecha_año.errors }}
{% endif %}
        </div>
        <div id="hours-parent">
          <div class="field" id="field-{{ form.horas_teoria.id_for_label }}">
            <label for="{{ form.horas_teoria.id_for_label }}">{{ form.horas_teoria.label }}</label>
            {{ form.horas_teoria }}
            {% if form.horas_teoria.errors %}{{ form.horas_teoria.errors }}
  {% endif %}
          </div>
          <div class="field" id="field-{{ form.horas_practica.id_for_label }}">
            <label for="{{ form.horas_practica.id_for_label }}">{{ form.horas_practica.label }}</label>
            {{ form.horas_practica }}
            {% if form.horas_practica.errors %}{{ form.horas_practica.errors }}
  {% endif %}
          </div>
          <div class="field" id="field-{{ form.horas_laboratorio.id_for_label }}">
            <label for="{{ form.horas_laboratorio.id_for_label }}">{{ form.horas_laboratorio.label }}</label>
            {{ form.horas_laboratorio }}
            {% if form.horas_laboratorio.errors %}{{ form.horas_laboratorio.errors }}
  {% endif %}
          </div>
        </div>
        <div class="field" id="field-{{ form.creditos.id_for_label }}">
          <label for="{{ form.creditos.id_for_label }}">{{ form.creditos.label }}</label>
          {{ form.creditos }}
          {% if form.creditos.errors %}{{ form.creditos.errors }}
{% endif %}
        </div>
        <div class="field" id="field-{{ form.objetivos.id_for_label }}">
          <label for="{{ form.objetivos.id_for_label }}">{{ form.objetivos.label }}</label>
          {{ form.objetivos }}
          {% if form.objetivos.errors %}{{ form.objetivos.errors }}
{% endif %}
          <a href="#" id="btn-sep-obj">Añadir objetivos específicos</a>
        </div>
        <div class="field" id="field-{{ form.objetivosE.id_for_label }}">
          <label for="{{ form.objetivosE.id_for_label }}">{{ form.objetivosE.label }}</label>
          {{ form.objetivosE }}
          {% if form.objetivosE.errors %}{{ form.objetivosE.errors }}
{% endif %}
          <a href="#" id="btn-mix-obj">Mezclar objetivos (generales y específicos)</a>
        </div>
        <div class="field" id="field-{{ form.contenidos_sinopticos.id_for_label }}">
          <label for="{{ form.contenidos_sinopticos.id_for_label }}">{{ form.contenidos_sinopticos.label }}</label>
          {{ form.contenidos_sinopticos }}
          {% if form.contenidos_sinopticos.errors %}{{ form.contenidos_sinopticos.errors }}
{% endif %}
        </div>
        <div align="center"><h4>Secciones</h4></div>
        <div id="seccionCNT">
          <div id="seccion1">
            <label>Sección 1</label>
            <input type="text" name="seccionNombre1" placeholder="Nombre de la sección">
            <div align="left"><label>Referencias</label></div>
            <div id="referenciaCNT1">
              <div id="referencia1-1">
                <label><small>Referencia 1.1</small></label>
                <input type="text" name="titulo1-1" placeholder="Título de la referencia">
                <label><small>Autor</small></label>
                <input type="text" name="autor-1" placeholder="Autor de la referencia">
                <label><small>Editorial</small></label>
                <input type="text" name="editorial1-1" placeholder="Editorial de la referencia">
                <label><small>Edición</small></label>
                <input type="text" name="edicion1-1" placeholder="Edición de la referencia">
                <label><small>Notas</small></label>
                <input type="text" name="notas1-1" placeholder="Notas de la referencia">
              </div>
            </div>
            <div align="right">
              <button id="agregarReferencia1" class="agregarReferencia" type="button" style="float: right;"><small>Agregar referencia</small></button>
            </div>
            </br>
            </br>
          </div>
        </div>
        <div align="center">
          <hr>
          <button id="agregarSeccion" type="button" style="float: center;"><small>Agregar sección</small></button>
        </div>
        <div style="align: center; background: whitesmoke;">
          <hr><h2 style="text-align: center;">Campos Normados</h2><hr>
        </div>
        <div class="field" id="field-{{ form.estrategias_metodologicas.id_for_label }}">
          <label for="{{ form.estrategias_metodologicas.id_for_label }}">{{ form.estrategias_metodologicas.label }}</label>
          {{ form.estrategias_metodologicas }}
          {% if form.estrategias_metodologicas.errors %}{{ form.estrategias_metodologicas.errors }}
{% endif %}
        </div>
        <div class="field" id="field-{{ form.estrategias_evaluacion.id_for_label }}">
          <label for="{{ form.estrategias_evaluacion.id_for_label }}">{{ form.estrategias_evaluacion.label }}</label>
          {{ form.estrategias_evaluacion }}
          {% if form.estrategias_evaluacion.errors %}{{ form.estrategias_evaluacion.errors }}
{% endif %}
        </div>
        <div class="field" id="field-{{ form.instancia.id_for_label }}">
          <label for="{{ form.instancia.id_for_label }}">{{ form.instancia.label }}</label>
          <select id="{{ form.instancia.id_for_label }}" name="{{ form.instancia.html_name }}" placeholder="{{ form.instancia.help_text|safe }}" required>
          <option class="{{instancia}}" value="">---------</option>
          {% for sec,list in selectI.items %}<optgroup label="{{sec}}">
            {% for l1, l2 in list %}<option value="{{ l1 }}"{% if instancia != 'None' and instancia == l1 %}selected="selected"{%endif%}>{{ l2 }}</option>
            {% endfor %}
          {% endfor %}
          </select>
          {% if form.instancia.errors %}{{ form.instancia.errors }}
{% endif %}
        </div>
        <div style="align: center; background: whitesmoke;">
          <hr><h2 style="text-align: center;">Campos Adicionales</h2><hr>
        </div>
        <div id="adicionalCNT"></div>
        <div align="center">
          <hr>
          <button id="agregarAdicional" type="button" style="float: center;"><small>Agregar campo adicional</small></button>
        </div>
        <div align="center">
          <hr>
          <input type="submit" style="float: center;" value="Submit" />
        </div>
      </form>
      {% endblock infotab %}
    </section>
</main>

{% endblock content %}

{% block scripts %}{{block.super}}<script src="{% static 'js/refills-tab.js' %}"></script>
<script src="{% static 'js/validateFields.js' %}"></script>
<script src="{% static 'js/megaform.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/jquery.form-validator.min.js' %}"></script>
<script>$.validate({form : '#edit', lang: 'es', });</script>
{% endblock %}
