{% extends './base.html' %}
{%load static%}

{% block content %}
<main>
<h2>Sube un programa</h2>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}{{ message }}</li>
  {% endfor %}</ul>
  {% endif %}
  <form action="" method="post" enctype="multipart/form-data" class="main-form" id="main-form">
      {% csrf_token %}
      {{ form.pdf }}
      {{ form.tipo }}
      <button type="button" id="bt-t">Leer texto</button>
      <button type="button" id="bt-i">Leer imágenes</button>
  </form>
  
<h3>Borradores recientes</h3>
<table>
  <tr><th>Código</th><th>Nombre</th><th>Período</th><th>Año</th><th>Acción</th></tr>
  {% for borrador in borradores %}
  <tr><td>{{borrador.codigo}}</td><td>{{borrador.denominacion}}</td><td>{{borrador.get_fecha_periodo_display}}</td><td>{{borrador.fecha_año}}</td><td><a href="borradores/{{borrador.pk}}">Editar</td></tr>
  {% endfor %}
</table>
<p class="right"><a href="{% url 'ocr:borradores' %}">Ver todos</a></p>
</main>
{% endblock content %}

{% block scripts %}
    {{block.super}}
    <script src="{% static 'js/calctext.js' %}"></script>
{% endblock %}
